@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #d4f0f7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bookContainer {
  margin: 10px auto;
  max-height: 80%;
  overflow: auto;
}
body::-webkit-scrollbar {
  display: none;
}

.btns {
  margin: 2px;
  display: inline;
  width: 8.3%;
  color: aliceblue;
  font-size: "16px";
  background-color: #1b7bda;
}
.action_btn {
  margin: 2px;
  display: inline;
  width: 45%;
  color: aliceblue;
  font-size: "16px";
  background-color: #1b7bda;
}
.edit {
  background-color: #717981;
}
.edit:hover {
  background-color: #565a5f;
}
.delete {
  background-color: #dc3545;
}
.delete:hover {
  background-color: #c03543;
}
.load-more {
  margin-left: auto;
  display: flex;
  margin-right: auto;
  /* display: none; */
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

td,
th {
  border: 1px solid rgb(12, 16, 105);
  padding: 8px;
  text-align: center;
}
/* 
form {
  width: 80%;
  display: inline;
}

.app {
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

.error-text {
  color: #b40e0e;
  font-size: 12px;
}
button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.action_btn {
  margin: 2px;
  display: inline;
  width: 45%;
}

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: aliceblue;
  color: #292929;
  border: #b40e0e;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-top: 26px;
  margin-right: 144px;
  display: inline;
  width: 75%;
}

input#search {
  float: right;
  margin-top: -50px;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

table {
  width: 100%;
  display: flexbox;
  align-items: center;
  align-content: center;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}  */
